span {
    display: inline
}
.text-white{
    color: white;
}
h1 {
    margin-top: 1rem;
    margin-bottom: .75rem;
    font-size: 2em;
    border-bottom: 3px solid white;
    border-radius: 3px;
}
h3::before {
    content: '#';
    color: white;
}
.time {
    display: flex;
    justify-content: center;
    align-items: center;
}
ion-icon {
    display: inline-block;
    padding-right: 3px;
}
#comments {
    margin-top: 1rem;
}
a{
    color:rgb(183, 248, 248);
    display: inline-block !important;
}
img{
    max-width: 100%;
}
pre{
    margin: .5rem;
}
#contant > h1, h2, h3, h4 {
    margin: .5rem;
}
blockquote{
    position: relative;
    margin-left: .5rem;
    background-color: rgba(255, 255, 255, 0.1);
}
blockquote::before {
    content: '';
    position: absolute;
    left: -.5rem;
    width: 2px;
    height: 100%;
    background-color: white;
}
article {
    min-height: auto;
}
.comment{
    border: 3px solid rgba(220, 220, 220, 0.5);
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    margin-top: .5rem;
}
.comment-meta{
    display: flex;
    justify-content: space-between;
}
.comment-username{
    display: flex;
}
article > ol > li {
    list-style: decimal;
    margin-left: 2rem;
    margin-top: .5rem;
}
article > p {
    margin-top: .5rem;
    margin-left: .5rem;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
} 

th, td {
    padding: .5rem;
    border: 1px solid white;
}