.timeline-text a {
    display: inline;
    color: var(--orange-yellow-crayola);
    text-decoration: underline;
    font-weight: bold;
}

.timeline-text a:hover {
    text-decoration-color: hsla(0, 0%, 84%, 0.7);
}