.timeline-text {
    color: var(--light-gray);
    font-weight: var(--fw-300);
    line-height: 1.6;
}

.timeline-text li {
    list-style: disc;
}

.timeline-text a {
    color: var(--orange-yellow-crayola);
    text-decoration: underline;
    font-weight: bold;
}

.timeline-text a:hover {
    text-decoration-color: hsla(0, 0%, 84%, 0.7);
}