.about-text {
    color: var(--light-gray);
    font-weight: var(--fw-300);
    line-height: 1.6;
}

.about-text p {
    margin-bottom: 15px;
}

@media (min-width: 580px) {
    .about-text {
        margin-bottom: 40px;
    }
}