.see-more {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.see-more-btn {
    position: relative;
    width: 170px;
    background: var(--border-gradient-onyx);
    color: var(--orange-yellow-crayola);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 20px;
    border-radius: 14px;
    font-size: var(--fs-6);
    text-transform: capitalize;
    box-shadow: var(--shadow-3);
    z-index: 1;
    transition: var(--transition-1);
}

.see-more-btn.active {
    color: hsl(45, 100%, 71%);
    animation: scaleUp 0.25s ease forwards;
}

.see-more-btn:hover {
    background-color: hsl(45, 100%, 10%);
    transform: scale(1.1);
}