.service-item {
    padding: 20px;
    z-index: 1;
}

.service-item::before {
    inset: 1px;
    z-index: -1;
}

@media (min-width: 580px) {
    .service-item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 18px;
        padding: 30px;
    }
}