.avatar-box {
    background: var(--bg-gradient-onyx);
    border-radius: 20px;
}

@media (min-width: 375px) {
    .avatar-box {
        border-radius: 30px;
    }

    .avatar-box img {
        width: 80px;
        height: 80px;
    }
}

@media (min-width: 580px) {
    .avatar-box {
        border-radius: 30px;
    }

    .avatar-box img {
        width: 120px;
        height: 120px;
    }
}

@media (min-width: 1250px) {
    .avatar-box img {
        width: 150px;
        height: 150px;
    }
}