.about-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-section-title {
    color: var(--white-2);
    font-size: var(--fs-2);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 2rem;
}