.navbar {
    border-radius: 12px 12px 0 0;
}

@media (min-width: 580px) {
    .navbar {
        border-radius: 20px 20px 0 0;
    }
}

@media (min-width: 1024px) {
    .navbar {
        border-radius: 0 20px;
    }
}