.resume-card {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 15px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    cursor: pointer;
    z-index: 1;
}

.resume-card::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
}

.resume-card-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 20;
    pointer-events: none;
    visibility: hidden;
}

.resume-card-modal-container::-webkit-scrollbar {
    display: none;
}

.resume-card-modal-container.active {
    pointer-events: all;
    visibility: visible;
}

.resume-card-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsl(0, 0%, 5%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-1);
}

.resume-card-overlay.active {
    opacity: 0.8;
    visibility: visible;
    pointer-events: all;
}

.resume-card-modal {
    background: var(--eerie-black-2);
    position: relative;
    padding: 15px;
    margin: 15px 12px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    box-shadow: var(--shadow-5);
    transform: scale(1.2);
    opacity: 0;
    transition: var(--transition-1);
    z-index: 2;
}

.resume-card-modal-container.active .resume-card-modal {
    transform: scale(1);
    opacity: 1;
}

.resume-card-modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--onyx);
    border-radius: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-2);
    font-size: 18px;
    opacity: 0.7;
}

.resume-card-modal-close-btn:hover,
.resume-card-modal-close-btn:focus {
    opacity: 1;
}

.resume-card-modal-avatar-box {
    width: max-content;
    border-radius: 14px;
    margin-bottom: 15px;
    box-shadow: var(--shadow-2);
}

.resume-card-modal-img-wrapper>img {
    display: none;
}

@media (min-width: 580px) {
    .resume-card-modal-container {
        padding: 20px;
    }

    .resume-card-modal {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        gap: 25px;
        padding: 30px;
        border-radius: 20px;
    }

    .resume-card-modal-img-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .resume-card-modal-avatar-box {
        border-radius: 18px;
        margin-bottom: 0;
    }

    .resume-card-modal-avatar {
        width: 65px;
    }

    .resume-card-modal-img-wrapper>img {
        display: block;
        flex-grow: 1;
        width: 35px;
    }
}

@media (min-width: 768px) {
    .resume-card-modal {
        gap: 35px;
        max-width: 680px;
    }

    .resume-card-modal-avatar {
        width: 80px;
    }
}