/**
* #testimonials 
*/

.testimonials {
    margin-bottom: 30px;
}

.testimonials-title {
    margin-bottom: 20px;
}

.testimonials-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    margin: 0 -15px;
    padding: 25px 15px;
    padding-bottom: 35px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}

.clients p {
    margin-bottom: 15px;
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
}

.testimonials-item {
    min-width: 100%;
    scroll-snap-align: center;
}

.testimonials-avatar-box {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(15px, -25px);
    background: var(--bg-gradient-onyx);
    border-radius: 14px;
    box-shadow: var(--shadow-1);
}

.testimonials-item-title {
    margin-bottom: 7px;
}

.testimonials-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/**
  * #testimonials-modal
  */

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overscroll-behavior: contain;
    z-index: 20;
    pointer-events: none;
    visibility: hidden;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-container.active {
    pointer-events: all;
    visibility: visible;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsl(0, 0%, 5%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
    transition: var(--transition-1);
}

.overlay.active {
    opacity: 0.8;
    visibility: visible;
    pointer-events: all;
}

.testimonials-modal {
    background: var(--eerie-black-2);
    position: relative;
    padding: 15px;
    margin: 15px 12px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    box-shadow: var(--shadow-5);
    transform: scale(1.2);
    opacity: 0;
    transition: var(--transition-1);
    z-index: 2;
}

.modal-container.active .testimonials-modal {
    transform: scale(1);
    opacity: 1;
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--onyx);
    border-radius: 8px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-2);
    font-size: 18px;
    opacity: 0.7;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    opacity: 1;
}

.modal-avatar-box {
    background: var(--bg-gradient-onyx);
    width: max-content;
    border-radius: 14px;
    margin-bottom: 15px;
    box-shadow: var(--shadow-2);
}

.modal-img-wrapper>img {
    display: none;
}

.modal-title {
    margin-bottom: 4px;
}

.modal-content time {
    font-size: var(--fs-6);
    color: var(--light-gray-70);
    font-weight: var(--fw-300);
    margin-bottom: 10px;
}

.modal-content p {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-300);
    line-height: 1.6;
}

@media (min-width: 580px) {
    /* testimonials */

    .testimonials-title {
        margin-bottom: 25px;
    }

    .testimonials-list {
        gap: 30px;
        margin: 0 -30px;
        padding: 30px;
        padding-bottom: 35px;
    }

    .content-card {
        padding: 30px;
        padding-top: 25px;
    }

    .testimonials-avatar-box {
        transform: translate(30px, -30px);
        border-radius: 20px;
    }

    .testimonials-avatar-box img {
        width: 80px;
    }

    .testimonials-item-title {
        margin-bottom: 10px;
        margin-left: 95px;
    }

    .testimonials-text {
        line-clamp: 2;
        -webkit-line-clamp: 2;
    }

    /* testimonials modal */

    .modal-container {
        padding: 20px;
    }

    .testimonials-modal {
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        gap: 25px;
        padding: 30px;
        border-radius: 20px;
    }

    .modal-img-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modal-avatar-box {
        border-radius: 18px;
        margin-bottom: 0;
    }

    .modal-avatar-box img {
        width: 65px;
    }

    .modal-img-wrapper>img {
        display: block;
        flex-grow: 1;
        width: 35px;
    }
}

@media (min-width: 768px) {
    /* testimonials modal */

    .testimonials-modal {
        gap: 35px;
        max-width: 680px;
    }

    .modal-avatar-box img {
        width: 80px;
    }
}

@media (min-width: 1024px) {
    .testimonials-item {
        min-width: calc(50% - 15px);
    }
}