<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShreyashC - Personal Portfolio</title>
  <link rel="shortcut icon" href="{{url_for('static' ,filename='images/logo.ico' )}}" type="image/x-icon">
  <link rel="stylesheet" href="{{url_for('static' ,filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
<main>
    <aside class="sidebar" data-sidebar>

        <div class="sidebar-info">
  
          <figure class="avatar-box">
            <img src="{{url_for('static' , filename='images/my-avatar.png') }}" alt="Richard hanrick" width="80">
          </figure>
  
          <div class="info-content">
            <h1 class="name" title="Richard hanrick">Shreyash Chavan</h1>
  
            <p class="title">Web developer</p><br>
            <p class="title">C, C++, Python</p>
          </div>
  
          <button class="info_more-btn" data-sidebar-btn>
            <span>Show Contacts</span>
  
            <ion-icon name="chevron-down"></ion-icon>
          </button>
  
        </div>
  
        <div class="sidebar-info_more">
  
          <div class="separator"></div>
  
          <ul class="contacts-list">
  
            <li class="contact-item">
  
              <div class="icon-box">
                <ion-icon name="mail-outline"></ion-icon>
              </div>
  
              <div class="contact-info">
                <p class="contact-title">Email</p>
  
                <a href="mailto:shreyashchavan77@gmail.com" class="contact-link">Shreyashchavan77@gmail.com</a>
              </div>
  
            </li>
  
            <li class="contact-item">
  
              <div class="icon-box">
                <ion-icon name="phone-portrait-outline"></ion-icon>
              </div>
  
              <div class="contact-info">
                <p class="contact-title">Phone</p>
  
                <a href="tel:+919373380670" class="contact-link">+91 9373380670</a>
              </div>
  
            </li>
  
            <li class="contact-item">
  
              <div class="icon-box">
                <ion-icon name="calendar-outline"></ion-icon>
              </div>
  
              <div class="contact-info">
                <p class="contact-title">Birthday</p>
  
                <time datetime="1982-06-23">July 19, 2000</time>
              </div>
  
            </li>
  
            <li class="contact-item">
  
              <div class="icon-box">
                <ion-icon name="location-outline"></ion-icon>
              </div>
  
              <div class="contact-info">
                <p class="contact-title">Location</p>
  
                <address>Ichalkarnji, Maharashtra</address>
              </div>
  
            </li>
  
          </ul>
  
          <div class="separator"></div>
  
          <ul class="social-list">
  
            <li class="social-item">
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>
  
            <li class="social-item">
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>
  
            <li class="social-item">
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>
            <li class="social-item">
                <a href="https://www.linkedin.com/in/shreyash-d-chavan/" class="social-link">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>
            <li class="social-item">
                <a href="https://github.com/shreyashchavan/" class="social-link">
                  <ion-icon name="logo-github"></ion-icon>
                </a>
            </li>
          </ul>
  
        </div>
  
      </aside>
  
  
  
  
  
      <!--
        - #main-content
      -->
  
      <div class="main-content">
  
        <nav class="navbar">
  
          <ul class="navbar-list">
  
            <li class="navbar-item">
              <button class="navbar-link  active" data-nav-link><a href="{{ url_for('index') }}" >About</a></button>
            </li>
  
            <li class="navbar-item">
              <button class="navbar-link" data-nav-link><a href="{{ url_for('resume') }}" >Resume</a></button>
            </li>
  
            <li class="navbar-item">
              <button class="navbar-link" data-nav-link><a href="{{ url_for('portfolio') }}" >Portfolio</a></button>
            </li>
  
            <li class="navbar-item">
              <button class="navbar-link" data-nav-link><a href="{{ url_for('all_blog', page=1) }}" >Blog</a></button>
            </li>
  
            <li class="navbar-item">
              <button class="navbar-link" data-nav-link><a href="{{ url_for('contact') }}">Contact</a></button>
            </li>
  
          </ul>
  
        </nav>
  
{%block content%}
{%endblock%}
</main>

<script src="{{url_for('static', filename='js/script.js') }}"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
