.service-icon-box {
    margin-bottom: 10px;
}

.service-icon-box img {
    margin: auto;
}

.service-icon-box svg {
    margin: auto;
}

.service-icon-box icon-box {
    margin: auto;
}

.service-item {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 20px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    z-index: 1;
}

.service-item::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
}

.service-content-box {
    text-align: center;
}

.service-item-title {
    margin-bottom: 7px;
}

.service-item-text {
    color: var(--light-gray);
    font-size: var(--fs-6);
    font-weight: var(--fw-3);
    line-height: 1.6;
}

@media (min-width: 580px) {
    .service-item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 18px;
        padding: 30px;
    }

    .service-icon-box {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .service-content-box {
        text-align: left;
    }
}