.contacts-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}


@media (min-width: 580px) {
    .contacts-list {
        gap: 20px;
    }
}

@media (min-width: 768px) {
    .contacts-list {
        grid-template-columns: 1fr 1fr;
        gap: 30px 15px;
    }
}

@media (min-width: 1250px) {
    .contacts-list {
        grid-template-columns: 1fr;
    }
}