name: Fetch Gist Post

on:
  push:
  workflow_dispatch:

jobs:
  fetch:
    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{secrets.GIST_TOKEN}}

    steps:
      - uses: actions/checkout@v3
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: python -m pip install requests

      - name: Create blogs
        run: python build.py

      - name: Check results
        run: ls -al ./blog

      # - name: save result
      #   run: mkdir -p /tmp/architecture && cp -r ./* /tmp/architecture && rm -rf ./blog/* && git fetch && git checkout gh-pages && git pull && git config user.email "autodeploy@github.com" && git config user.name "github action auto bot"
      - name: save result
        run: mkdir -p /tmp/architecture && cp -r ./* /tmp/architecture && rm -rf ./blog/* && git fetch && git branch -a && git checkout origin/gh-pages -b gh-pages && git pull && git config user.email "autodeploy@github.com" && git config user.name "github action auto bot"

      - name: deploy to github page
        run: rm -rf * && cp -r /tmp/architecture/* ./ && git add . && git commit -m "release new post" && git push origin --set-upstream gh-pages